<%- include parts/top.ejs %> 
    <script>
        $(document).ready(function(){
            $('#create').submit(function(e) {
                e.preventDefault();

                function success(data){
                    alert(JSON.stringify(data));
                }

                function error(xhr, status, err){
                    alert(JSON.stringify(err));
                }

                $.ajax({
                    url: '/create',
                    data: {title: $('#title').val(),
                           desc: $('#desc').val(),
                           html: $('#html').val(),
                           css: $('#css').val(),
                           type: 'dzslides'},
                    cache: false,
                    type: 'POST',
                    success: success,
                    error: error
                });
            });
        });
    </script>

    <h2>Create</h2>
    <div>
        <form id="create">
            <div>
                <label> Title </label>
                <input id="title" />
            </div>
            <div>
                <label> Description </label>
                <input id="desc" />
            </div>
            <div>
                <label> HTML (dzSlides) </label>
                <textarea id="html"> </textarea>
            </div>
            <div>
                <label> CSS (dzSlides) </label>
                <textarea id="css"> </textarea>
            </div>
            <div>
                <button id="createButton"> Create </button>
            </div>
        </form>
    </div>
<%- include parts/bottom.ejs %> 