<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <ul>
    <% for(pres in preslist) { %>
      <li><%= preslist[pres].title %>(<%- link_to("View", "view/" + preslist[pres].shortid) %>) (<%- link_to("Present", "present/" + preslist[pres].shortid) %>)</li>
    <% } %>
    </ul>
  </body>
</html>