<%- include parts/top.ejs %> 
    <script>
        $(document).ready(function(){
            $('#login').submit(function(e) {
                e.preventDefault();

                $('.ajaxloader').show();
                $('#loginButton', this).prop('disabled', true);

                var username = $('#loginUsername').val();
                var password = $('#loginPassword').val();

                function success(data){
                    window.location.replace(data.redirect_to);
                }

                function error(xhr, status, err) {
                    switch(err) {
                        case "Bad Request":
                            $('.errmsg').text(xhr.responseText);
                            break;
                        case "Unauthorized":
                            $('.errmsg').text("Invalid username/password.");
                            break;
                        case "Forbidden":
                            $('.errmsg').text("Session has expired. Please refresh.");
                            break;
                        default:
                            $('.errmsg').text("An unexpected error has occured.");
                    }

                    $('.ajaxloader').hide();
                    $('#loginButton', this).prop('disabled', false);
                }

                $(this).ajaxSubmit({
                    success: success,
                    error: error.bind(this)
                });
            });
        });
    </script>

    <h1>Login</h1>
    <form id="login" action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= token %>" />
        <div class="errmsg"></div>
        <div>
            <div>
                <label> Username </label>
                <input id="loginUsername" name="username" type="username" required="" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" />
            </div>
            <div>
                <label> Password </label>
                <input id="loginPassword" name="password" type="password" required=""/>
            </div>
            <div>
                <button id="loginButton"> Login </button>
                <div class="ajaxloader"></div>
            </div>
        </div>
    </form>
<%- include parts/bottom.ejs %> 