<%- include parts/top.ejs %> 
    <script>
        $(document).ready(function(){
            $('#register').submit(function(e) {
                e.preventDefault();
                var username = $('#regUsername').val();
                var password = $('#regPassword').val();

                function success(data){
                    alert(JSON.stringify(data));
                }

                function error(xhr, status, err){
                    alert(JSON.stringify(err));
                }

                if(password === $("#regPasswordConf").val()) {
                    $.ajax({
                        url: '/register',
                        data: {username: username, password: password},
                        cache: false,
                        type: 'POST',
                        success: success,
                        error: error
                    });
                }
                else {
                    alert("Passwords don't match.");
                }
            });
        }
    </script>

    <h2>Register</h2>
    <div>
        <form id="register">
            <div>
                <label> Username </label>
                <input id="regUsername" type="username"/>
            </div>
            <div>
                <label> Password </label>
                <input id="regPassword" type="password"/>
            </div>
            <div>
                <label> Confirm Password </label>
                <input id="regPasswordConf" type="password"/>
            </div>
            <div>
                <button id="registerButton"> Register </button>
            </div>
        </form>
    </div>
<%- include parts/bottom.ejs %> 