<%- include parts/top.ejs %> 
    <script>
        $(document).ready(function(){
            $('#register').submit(function(e) {
                e.preventDefault();
                
                $('.ajaxloader').show();
                $('#registerButton', this).prop('disabled', true);

                var username = $('#regUsername').val();
                var password = $('#regPassword').val();

                function success(data){
                    alert(JSON.stringify(data));
                }

                function error(xhr, status, err){
                    alert(JSON.stringify(err));
                    $('.ajaxloader').hide();
                    $('#registerButton', this).prop('disabled', false);
                }

                if(password === $("#regPasswordConf").val()) {
                    $(this).ajaxSubmit({
                        success: success,
                        error: error.bind(this)
                    });
                }
                else {
                    alert("Passwords don't match.");
                }
            });
        }
    </script>

    <h2>Register</h2>
    <div>
        <form id="register">
            <input type="hidden" name="_csrf" value="<%= token %>" />
            <div>
                <label> Username </label>
                <input id="regUsername" name="username" type="username"/>
            </div>
            <div>
                <label> Password </label>
                <input id="regPassword" name="password" type="password"/>
            </div>
            <div>
                <label> Confirm Password </label>
                <input id="regPasswordConf" type="password"/>
            </div>
            <div>
                <button id="registerButton"> Register </button>
                <div class="ajaxloader"></div>
            </div>
        </form>
    </div>
<%- include parts/bottom.ejs %> 