<%- include parts/top.ejs %> 
    <script>
        $(document).ready(function(){
            $('#register').submit(function(e) {
                e.preventDefault();
                
                $('.ajaxloader').show();
                $('#registerButton', this).prop('disabled', true);

                var username = $('#regUsername').val();
                var password = $('#regPassword').val();

                function success(data){
                    $('.ajaxloader').hide();
                    $('.succmsg').text(data);
                    setTimeout(function() {
                        window.location.href = "/login";
                    }, 1500);
                }

                function error(xhr, status, err){
                    switch(err) {
                        case "Bad Request":
                            $('.errmsg').text(xhr.responseText);
                            break;
                        case "Forbidden":
                            $('.errmsg').text("Session has expired. Please refresh.");
                            break;
                        default:
                            $('.errmsg').text("An unexpected error has occured.");
                    }
                    
                    $('.ajaxloader').hide();
                    $('#registerButton', this).prop('disabled', false);
                }

                if(password === $("#regPasswordConf").val()) {
                    $(this).ajaxSubmit({
                        success: success,
                        error: error.bind(this)
                    });
                }
                else {
                    error({'responseText': "Passwords don't match."}, "error", "Bad Request");
                }
            });
        });
    </script>

    <h1>Register</h1>
    <div>
        <form id="register" action="/register" method="POST">
            <input type="hidden" name="_csrf" value="<%= token %>" />
            <div class="succmsg"></div>
            <div class="errmsg"></div>
            <div>
                <label> Username (alphanumeric, 2-20 characters, must start with letter) </label>
                <input id="regUsername" name="username" type="username" required="" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" />
            </div>
            <div>
                <label> Password (6 chars min) </label>
                <input id="regPassword" name="password" type="password" pattern=".{5}.+" />
            </div>
            <div>
                <label> Confirm Password </label>
                <input id="regPasswordConf" name="passwordConf" type="password" pattern=".{5}.+"/>
            </div>
            <div>
                <button id="registerButton"> Register </button>
                <div class="ajaxloader"></div>
            </div>
        </form>
    </div>
<%- include parts/bottom.ejs %> 