@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body {
  font: 14px "Droid Sans", sans-serif;
  background-color: #828282;
  height: 100%;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	background-color: #EEEEEE;
}

#logo1, #logo2 {
	font-size: 30px;
	font-family: 'Droid Sans', sans-serif;
}

#logo1 {
}

#logo2 {
	color: #13AEFF;
	margin-left: -9px;
}

#content {
	height: 100%;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

a {
  color: #1fd1ff;
}

a:hover {
	color: #13aeff;
}


/****************/


header {
	background: #313131;
	padding: 15px 20px;
	border-bottom-width: 2px;
	border-bottom-color: #1FD1FF;
	border-bottom-style: solid;
	box-shadow:inset 0 0 5px #000000;
	-moz-box-shadow:inset 0 0 5px #000000;
	-webkit-box-shadow:inset 0 0 5px #000000;
}

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
header:before,
header:after {
    content:"";
    display:table;
}

header:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
}

footer {
	font-style: italic;
	text-align: center;
	font-size: 14px;
	color: #BBB;

}

h1.logo {
	display: inline;
}

h1.logo a {
	color: #d8d8d8;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
}

a.to_nav, #primary_nav a.to_top {
	float: right;
	color: #fff;
	background: #4e4e4e;
	text-decoration: none;
	padding: 0 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	top: 5px;
	text-transform: capitalize;
}

a.to_nav:hover,
a.to_nav:focus {
	color: #313131;
	background: #ccc;
}
	
/*navigation*/	

#primary_nav ul {
	list-style: none;
	background: #313131;
	padding: 5px 0;
}

#primary_nav li a, #primary_nav li.top {
	display: block;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2em;
	height: 2em;
	border-bottom: 1px solid #383838;
}

#primary_nav li:last-child a {
	border-bottom: none;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
	color: #1c1c1c;
	background: #13AEFF;
}

h1 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 15px;
}

h2 {
	font-size: 18px;
	margin-top: 10px;
}

h3 {
	padding-left: 15px;
}

input, button {
	margin-top: 10px;
	margin-bottom: 10px;
	
	border-radius: 10px;
	border: 1px solid #13AEFF;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input {
	 -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.5),
      inset      0 0 8px rgba(0,0,0,0.5); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.5),
      inset      0 0 8px rgba(0,0,0,0.5); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.5),
      inset      0 0 8px rgba(0,0,0,0.5); 

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding-left: 10px;
	padding-right: 10px;
}

button {
	 -webkit-box-shadow: 
      0 0 4px  rgba(0,0,0,0.5),
            0 0 8px rgba(0,0,0,0.5); 
    -moz-box-shadow: 
      0 0 4px  rgba(0,0,0,0.5),
            0 0 8px rgba(0,0,0,0.5); 
    box-shadow: 
      0 0 4px  rgba(0,0,0,0.5),
            0 0 8px rgba(0,0,0,0.5); 

	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	cursor: pointer;
}

.ajaxloader {  
    margin-left: auto;
    margin-right: auto;
    width: 30px;  
    height: 30px;  
    border: 8px solid #313131;  
    border-right-color: transparent;  
    border-radius: 50%;  
    box-shadow: 0 0 25px 2px #eee;
    display: none;
    animation: spin 1s linear infinite; 
    -moz-animation: spin 1s linear infinite; 
    -webkit-animation: spin 1s linear infinite; 
    -o-animation: spin 1s linear infinite; 
} 

@keyframes spin {  
    from { transform: rotate(0deg);   opacity: 0.2; }  
    50%  { transform: rotate(180deg); opacity: 1.0; }  
    to   { transform: rotate(360deg); opacity: 0.2; }  
}

button:active {
		 -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.5),
      inset      0 0 8px rgba(0,0,0,0.5); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.5),
      inset      0 0 8px rgba(0,0,0,0.5); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.5),
      inset      0 0 8px rgba(0,0,0,0.5); 

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

input:focus {
	border: 1px solid #1FD1FF;
	background-color: white;
}

/*media queries*/

@media only screen and (min-width: 768px) {
	input, button {
		width: auto;
	}


	a.to_nav {
		display: none;
	}
	
	.wrapper {
		position: relative;
		width: 768px;
		margin: auto;
	}
	
	#primary_nav {
		position: absolute;
		top: 15px;
		right: 10px;
		background: none;
	}
	
	#primary_nav li {
		display: inline;
	}
	
	#primary_nav li a {
		float: left;
		border: none;
		padding: 0 10px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	
	#primary_nav li.top {
		display: none;
	}
}

thead {
	background-color: #313131;
	color: white;
}

th {
	background-color: #313131;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #CCC;
	vertical-align: middle;
}

tr:nth-of-type(2n+1) {
	background-color: white;
}

td:nth-of-type(6) { text-align: center; }
td:nth-of-type(7) { text-align: center; }
td:nth-of-type(8) { text-align: center; }
td:nth-of-type(9) { text-align: center; }

/***********************/
/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 768px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
			padding-right: 6px;
		}

		tr:target td {
			display: block;
		}

		td:nth-of-type(2) { display: none; }
		td:nth-of-type(3) { display: none; }
		td:nth-of-type(4) { display: none; }
		td:nth-of-type(5) { display: none; }
		td:nth-of-type(6) { display: none; }
		td:nth-of-type(7) { display: none; }
		td:nth-of-type(8) { display: none; }
		td:nth-of-type(9) { display: none; }
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Title"; }
		td:nth-of-type(2):before { content: "Description"; }
		td:nth-of-type(3):before { content: "Type"; }
		td:nth-of-type(4):before { content: "Created"; }
		td:nth-of-type(5):before { content: "Last Edited"; }
		td:nth-of-type(6):before { content: "View"; }
		td:nth-of-type(7):before { content: "Present"; }
		td:nth-of-type(8):before { content: "Edit"; }
		td:nth-of-type(9):before { content: "Delete"; }
	}
	
	

