@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html, body {
  font: 14px "Droid Sans", sans-serif;
  background-color: #828282;
  height: 100%;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	background-color: #EEEEEE;
}

#logo1, #logo2 {
	font-size: 30px;
	font-family: 'Droid Sans', sans-serif;
}

#logo1 {
}

#logo2 {
	color: #13AEFF;
	margin-left: -9px;
}

#content {
	height: 100%;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

a {
  color: #1fd1ff;
}

a:hover {
	color: #13aeff;
}


/****************/


header {
	background: #313131;
	padding: 15px 20px;
	border-bottom-width: 2px;
	border-bottom-color: #1FD1FF;
	border-bottom-style: solid;
	box-shadow:inset 0 0 5px #000000;
	-moz-box-shadow:inset 0 0 5px #000000;
	-webkit-box-shadow:inset 0 0 5px #000000;
}

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
header:before,
header:after {
    content:"";
    display:table;
}

header:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
}

footer {
	font-style: italic;
	text-align: center;
	font-size: 14px;
	color: #BBB;

}

h1.logo {
	display: inline;
}

h1.logo a {
	color: #d8d8d8;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
}

a.to_nav {
	float: right;
	color: #fff;
	background: #4e4e4e;
	text-decoration: none;
	padding: 0 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	top: 5px;
}

a.to_nav:hover,
a.to_nav:focus {
	color: #313131;
	background: #ccc;
}
	
/*navigation*/	

#primary_nav ul {
	list-style: none;
	background: #313131;
	padding: 5px 0;
}

#primary_nav li a {
	display: block;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2em;
	height: 2em;
	border-bottom: 1px solid #383838;
}

#primary_nav li:last-child a {
	border-bottom: none;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
	color: #1c1c1c;
	background: #13AEFF;
}




/*media queries*/

		@media only screen and (min-width: 768px) {
		
			a.to_nav {
				display: none;
			}
			
			.wrapper {
				position: relative;
				width: 768px;
				margin: auto;
			}
			
			#primary_nav {
				position: absolute;
				top: 15px;
				right: 10px;
				background: none;
			}
			
			#primary_nav li {
				display: inline;
			}
			
			#primary_nav li a {
				float: left;
				border: none;
				padding: 0 10px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
			}
			
			#primary_nav li.top {
				display: none;
			}
	
		}